:root{
    --bg-myblack : #171b1f;
    --textcolor: white;
    --margin-topbot: 20px;
    --def-pad:50px;
    --my-font:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}


.navbar{
    background-color: var(--bg-myblack);
}

.navbar-collapse{
    justify-content: center;
}

section{
    margin-top: var(--margin-topbot);
    margin-bottom: var(--margin-topbot);
    padding: var(--def-pad);
}

body{
    position: relative;
}

.text{
    font-family: var(--my-font);
}